.confirmation{
    height: 45%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: auto auto;
}
.second-row{
    font-size: 40px;
    color: #03264e;
}

.third-row{
    color: grey;
    line-height: 35px;
}